.videos {
  list-style-position: inside;
}

body{
  background-color: #04b486;
}
header{
  text-align: center;
}
nav ul{
  display: inline-flex;
  padding-top: 15px;
}
nav ul li{
  padding-left: 10px;
}
section{
  background-color: #a9f5d0;
  display: grid;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
}

button{
  background-color: #7870cc;
  border: 1px solid #7870cc;
  border-radius: 5px;
  color: white;
  padding: 5px 40px;
}

h1{
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0;
}

h2{
  font-size: 30px;
  font-weight: bold;
}

footer, h1, h2{
  font-family: "Arial", sans-serif;
}
footer{
  background-color: #7870cc;
}
a{
  color: black;
  text-decoration: none;
}
nav a:hover{
  color: #7870cc;
  text-decoration: underline;
}


.videos {
  list-style-position: inside;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
section li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
figcaption {
  background-color: #2e2e2e;
  color: white;
  opacity: .6;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
figure {
  overflow: hidden;
}
figure, figure img {
  width: 300px;
}
figure:hover img {
  transform: scale(2);
}
figure:hover figcaption {
   transform: scaleY(0);
}
figure img {
  transition: transform 0.5s;
}
figure figcaption {
  transition: transform 0.5s;
}

#busqueda{
  border: 1px solid white;
  border-radius: 5px;
  width: 250px;
  height: 24px;
  margin-right: 5px;
  padding-left: 10px;
}

#buscador{
  margin-top: 10px;
}

.home{
  text-align: right;
  margin-right: 60px;
  margin-bottom: 15px;
}
