@media (min-device-width: 0px) and (max-device-width: 375px) {
  /* iPhone 6 375x667 */
  body {
    background-color: yellow !important;
  }
}
@media (min-device-width: 376px) and (max-device-width: 412px) {
  /* Nexus5X 412x732 */
  body {
    color: purple !important;
  }
}
@media (min-device-width: 413px) and (max-device-width: 1600px) {
  /* Reponsive 1600x */
  body {
    color: green !important;
  }
}
